


<div class="">
    <div class="row">
        <div class="col-lg-6 " >

            <div class="mb-3">
                <div class="wcard project">
                    <div class="wcard-content">Balance</div>
                    <div class="wcard-amount" id="balance"> &#8377; <%if(locals.user && user.wallet){%><%=user.wallet.balance.toFixed(1)%><%}else{%>0<%}%></div>
                    <div class="wcard-period"><%= new Date(Date.now()).toLocaleString()%></div>
                    <div class="wcard-percentage">Total balance in wallet</div>
                    
                    
                  </div>
            </div>
        


        </div>
        <div class="col-lg-6 "  >
            <div class="walletAddMoney">


                <div class="p-3 addMoney project">
                <h5>Add Money To Wallet</h5>
                    <input type="Number" id="amount" class="form-control">
                    <div class="d-flex justify-content-end p-2">
                        <button class="button-57 profileAction" role="button" id="addToWallet"><span class="text">ADD MONEY</span><span class="profileAction" id="addMoneyToWallet">ADD TO WALLET</span></button>
                    </div>
                    
                </div>


            </div>
        </div>
        
        <div class="col-lg-12 px-0 py-3" >
            <div class="m-0 d-flex justify-content-center ">
                
                <h4 class="mx-auto">TRANSACTIONS</h4>
            </div>
        <div id="transactionList" class="p-0">
        <%if(locals.user && user.wallet?.transactions?.length>0){
            for(let i=user.wallet.transactions.length-1; i>=0;i--){%>
        
            <div class="project transaction my-3">
                
                <div><span class="bold">TRANSACTION ID  :</span><span class="mr-auto"><%=user.wallet.transactions[i].transaction_id%></span></div>
                <div><span class="bold">TYPE  :</span><span class="mr-auto"><%=user.wallet.transactions[i].type%></span></div>
                <div><span class="bold">AMOUNT  :</span><span class="mr-auto"><%=user.wallet.transactions[i].amount%></span></div>
                <div><span class="bold">TIME  :</span><span class="mr-auto"><%= new Date(user.wallet.transactions[i].timestamp).toLocaleString()%></span></div>
                <div><span class="bold">DESCRIPTION  :</span ><span class="mr-auto"><%=user.wallet.transactions[i].description%></span></div>
                
            </div>

        
        <%
            }
        }else{
        %>
        <div class="d-flex justify-content-center">
            <h4 class="mt-5">No transactions yet..!</h4>
        </div>
        <%}%>
        </div>
        </div>

    </div>

</div>


<!------------------------ confirm model-------------------- -->
<div id="confirmRemoveAddress" class="rmmodal">
    <div class="rmmodal-content">
        
        <i class="mdi mdi-close rmclose" id="closedeleteAddressConfirmation"></i>
        <div class="confirmHeader">
            <h3>Remove item</h3>
        </div>
        <div class="confirmBody">
            <p>Are you sure you want to remove this item?</p>
        </div>
        
        <div>
            <a id="confirmAddressRemoval" class="darkBtn profileAction">Confirm</a>
            
        </div>
        
    </div>
</div>
