<div class=" grid-margin   py-4 px-3 " id="categ">
<%if(locals.orderData){%>
   
        <div class="row ">
            <div class=" col-lg-4 p-1 ">
                <div class="card h-100 ">
                    <div class="card-body">
                <div class="d-flex justify-content-center">
                <h4>Order Details</h4>
                </div>
                <div>
                <p><span class="font-weight-bold">Order Id:</span> <%=orderData.orderNumber%></p>
                <p> <span class="font-weight-bold">Placed On: </span><%=orderData.createdAt%></p>
                <p><span class="font-weight-bold">Payment Method :</span><%=orderData.paymentMethod%></p>
                </div>
                
                        
                        </div>
                    </div>
        
            </div>
        
            <div class="col-lg-4 p-1">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4>Customer Info</h4>
        
                        </div>
                        <div>
                            <p><span class="font-weight-bold">Customer:</span> <%=orderData.customer.fname+' '+orderData.customer.lname%></p>
                            <p> <span class="font-weight-bold">Email: </span><%=orderData.customer.email%></p>
                            <p><span class="font-weight-bold">Phone Number:</span><%=orderData.customer.mobile%></p>
        
                        </div>
        
                
                
                        
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 p-1">
                <div class="card  h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4>Delivery Address</h4>
                        </div>
                        <div class="" id="">
            
                        
                            <div>
                                <p class="d-flex justify-content-between"><span class="font-weight-bold"><%=orderData.shippingAddress.name%></span><span class="font-weight-bold"><%=orderData.shippingAddress.mobile%></span></p>
                            </div>
                            <p class="">
                                <%= orderData.shippingAddress.area%>, <%= orderData.shippingAddress.locality%>, <%=orderData.shippingAddress.city%>, <%=orderData.shippingAddress.state%>-<span class="text-dark "><%=orderData.shippingAddress.pincode%></span> 
                            </p>
                        </div>
                
                
                        
                        </div>
                    </div>
            </div>
        
        
        <div class="col-lg-12 p-1">
            <div class="card  h-100 ">
                <div class="card-body ">
                    <div>
                        <h4>Orders</h4>
                    </div>
        
                    <%for(let item of orderData.items){%>
                    <div style=" padding: 2rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" class="mb-4">
                        <div class="row ">
        
                            <div class=" col-lg-4">
                                <a href="/productDetails?id=<%=item.product._id%>" class="">
                                <div class="ImageContainer">
                                    <img src="/static/productImages/<%=item.product.images[0]%>" class="orderImg" alt="post">
                                </div>
                                </a>
                                
            
            
                            </div>
                                    
                            <div class="col-lg-8">
                                <a href="#">
                                    <a href="/productDetails?id=<%=item.product._id%>" class="link-to-product"><h4><%=item.product.name%></h4></a>
                                </a>
                                <p><%=item.product.brand.name%><br>
                                Price :<span class="darkText amount" > <%=item.price%></span></p>
                                <div class="d-flex align-items-center">
                                    <p>Color : </p>
                                    <p><input type="color" value="<%=item.product.color%>" disabled> </p>
                                </div>
            
                                <div class="product_count mt-2 ml-5 mx-auto">
                                    <label for="<%=item.product._id%>">Quantity</label> <span class="ml-2"><%=item.quantity%>unit</span>
                                    <input type="hidden" id="<%=item.product._id%>" class="qty text-center "  maxlength="12" value="<%=item.quantity%>" title="Quantity:"disabled>
            
                                </div>
                        
                                <div class="  mt-3">
                                    <div class=" mx-0">
                                        <%if(!(item.orderStatus=='Delivered')){%>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <span class="text-dark mb-3">Order Status :</span>
                                                <div class="mx-0">
                                                    <select class="btn btn-secondary"  oldData="<%=item.orderStatus%>" id="select<%=item.product._id%>" <% if(item.orderStatus=='Canceled') {%>disabled <%}%>>
                                                        <option value="Pending" <% if(item.orderStatus=='Pending'){%> selected <%}%>  >Pending</option>
                                                        <option value="Processing" <% if(item.orderStatus=='Processing'){%> selected <%}%> >Processing</option>
                                                        <option value="Shipped" <% if(item.orderStatus=='Shipped'){%> selected <%}%> >Shipped</option>
                                                        <option value="Delivered" <% if(item.orderStatus=='Delivered'){%> selected <%}%> >Delivered</option>
                                                        <option value="Canceled" <% if(item.orderStatus=='Canceled'){%> selected <%}%> >Canceled</option>
                                
                                                        </select>
                                                        
                                                    </div>
                                            </div>
                                            <div class="col-lg-6 mx-0 mt-4">
                                                <p>
                                                    <!-- <button class="btn btn-rounded btn-warning p-2 updateOrderStatus orderOption" productId="<%=item.product._id%>" orderId="<%=orderData._id%>" <% if(item.orderStatus=='Canceled') {%>disabled <%}%>>Update Status</button> -->
                                                    <button class="button-82-pushable" >
                                                        <span class="button-82-shadow"></span>
                                                        <span class="button-82-edge"></span>
                                                        <span class="button-82-front text updateOrderStatus orderOption" productId="<%=item.product._id%>" orderId="<%=orderData._id%>" <% if(item.orderStatus=='Canceled' || item.returnStatus=='returned' ) {%>disabled <%}%>>
                                                            Update Status
                                                        </span>
                                                        </button>
                    
                                                </p>
                                            </div>
            
            
                                        </div>
            
                                            
                                            <%}else if(item.returnStatus){%>
                                                <%if(!item.eligibleForReturn && item.returnStatus!='returned'){%>
                                                <div>
                                                    <p class="text-danger">*this return could potentially bring the total order amount below the minimum required for the applied coupon</p>
                                                </div>
                                                <%}%>
                                                <div class="pb-3">
                                                    <span>Return Reason :</span> <span>"<%=item.returnReason%>"</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span class="text-dark mb-3">Order Return Status :</span>
                                                        <div >
                                                        <select class="btn btn-secondary"  oldData="<%=item.returnStatus%>" id="ret<%=item.product._id%>" <% if(item.returnStatus=='returned') {%>disabled <%}%>>
                                                            <option value="returnPlaced" <% if(item.returnStatus=='returnPlaced'){%> selected <%}%>  >Return Placed</option>
                                                            <option value="outForPick" <% if(item.returnStatus=='outForPick'){%> selected <%}%> >Out For Pick</option>
                                                            <option value="returned" <% if(item.returnStatus=='returned'){%> selected <%}%> >Returned</option>
                                                            
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                
                                                    <div class="col-lg-6 mt-3">
                                                        <button class="button-82-pushable" >
                                                            <span class="button-82-shadow"></span>
                                                            <span class="button-82-edge"></span>
                                                            <span class="button-82-front text updateReturnStatus orderOption" productId="<%=item.product._id%>" orderId="<%=orderData._id%>" <% if(item.orderStatus=='Canceled' || item.returnStatus=='returned' ) {%>disabled <%}%>>
                                                                Update Status
                                                            </span>
                                                            </button>
                                                    </div>
                                                </div>
            
            
                                            <%}%>
                                    </div>
            
            
                                </div> 
                                    
                                
            
                            </div>
            
                                    
                        </div>
                    </div>

        
                    <%}%>
        
                </div>
            </div>
        </div>
        
        
        
        
        </div>
    


<%}%>
</div>