<div class="container">
    <div class="card">
        <%if(locals.productData){%>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h3 class="card-title">Product Information</h3>
            </div>
            
            <h4 class="card-title mt-1"><%=productData.name%></h4>

    <div class="row justify-content-center">
        
        <img class="col-lg-4 col-sm-12 m-2" src="/static/productImages/<%=productData.images[0]%>"  width="50px" alt="product image">
        <img class="col-lg-4 col-sm-12 m-2" src="/static/productImages/<%=productData.images[1]%>" width="50px" alt="product image">
        <img class="col-lg-4 col-sm-12 m-2" src="/static/productImages/<%=productData.images[2]%>"  width="50px" alt="product image">
        <img class="col-lg-4 col-sm-12 m-2" src="/static/productImages/<%=productData.images[3]%>"  width="50px" alt="product image">
    </div>
    <strong>Description</strong> 
    <p><%=productData.description%></p>
    <ul class="list-ticked">
        <%if (locals.categories){%>
        <li><span class="">Categories :</span>
            <%
            for(let category of categories){
                if(productData.category.includes(category._id)){
            %>
           
                    <%=category.name%>
            <%
                }
            }
            %>
        </li>
        <%}%>
        <li><span class="">Size : </span><%=productData.size%></li>
        <li><span class="">Stock : </span><%=productData.stock%></li>
        <li>
            <span class="">Color : </span><input type="color" class="form-control form-control-color"  value="<%=productData.color%>" title="Choose product color" id="color" disabled>

        
        </li>
        <li><span class="">Price : </span><%=productData.price%></li>
        <li><span class="">Rating : </span>
            <span class="rating" style="color: rgb(255, 217, 0);">
                <%
                const rating=productData.rating[0]?.value;
                const wholeStares=Math.floor(rating);
                const halfStar=rating%1>=0.5
                %>
                
           <% for(let i= 0;i< wholeStares; i++){%>
            <i class="mdi mdi-star"></i>
            <%}%>
            <%if(halfStar){%>
                <i class="mdi mdi-star-half"></i>
                <%}%>
        </span>
            
        </li>
        <li><span class="">Added Date : </span><%=productData.addedDate%></li>
        <li><span class="">Brand : </span><%=brand.name%></li>
        <li><span class="">Care Instructions : </span><%=productData.careInstructions%></li>
        <li><span class="">Material : </span><%=productData.material%></li>
        <li><span class="">Status : </span><%=productData.status%></li>
        <li><span class="">Un listed Date : </span><%=productData.unlistdate%></li>

    </ul>

    </div>
    <%}%>
    </div>

</div>
