 
            <div class=" grid-margin stretch-card px-5 p-4" id="categ">
                <div class="card">
                  <div class="card-body">

                    <div class="d-flex justify-content-center">
                      <% if(locals.key){%>
                        <h4 class="card-title">Search result for <%=key%></h4>
                        <%}else{%>
                      <h2 class="card-title">Categories</h2>
                      <%}%>
                    </div>

      
                    <form class="nav-link mt-2 mt-md-0 d-flex justify-content-end search" id="categorySearch">
                      <input type="text" class="form-control" placeholder="Search Categories" id="searchKey">
                      <button class="btn btn-dark p-2" type="submit">Search</button>
                    </form>

                    <!-- <p class="card-description" id="alertMessage"> -->
                   
                    </p>
                    <div class="table-responsive">
                        <input type="hidden" value="<%=locals.currentPage%>" id="cur">
                        <input type="hidden" value="<%=locals.totalpages%>" id="totp">

                      <table class="table table-hover">
                        <thead class="border-bottom">
                          <tr>
                            <th>Category Name</th>
                            <th>Offer</th>
                            <th>status</th>
                            <th>Actions</th>

                          </tr>
                        </thead>

                        <tbody>
                            
                          
                            <%
                            if(locals.categories){
                                
                                for(let i=0; i < categories.length; i++){
                                %>
                        <tr id="<%=categories[i]._id%>">
                            <td>
                              
                              <h6 class="card-title"><%=categories[i].name %></h6>
                              <p>
                                <a class="view-more" data-bs-toggle="collapse" href="#desc<%=categories[i]._id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  view Description
                                </a>
                              </p>
                              <div class="collapse" id="desc<%=categories[i]._id%>">
                                <div class="card card-body">
                                  <span class="description-limit"><%=categories[i].description%></span> 
                               </div>
                              </div>
                              
                              
                            </td>

                          
                              <td id="offer<%=categories[i]._id%>">
                                <%if(categories[i].offer){%><%= categories[i].offer.name %>(<%=categories[i].offer.discountPercentage%>%)<%}%>
                              </td>
                            

                            <td>
                              <%if(categories[i].status){%> 
                                <span class="text-success" >listed</span>
                              <%}else{%>
                                  <span class="text-danger" >unlisted</span>
                              <%}%>
                            </td>

                            <td>

                              <div class="input-group">
                                <div class="input-group-prepend">
                                
                                  <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                  <div class="dropdown-menu">
                                    <!-- <button type="button" class="btn btn-outline-secondary btn-icon-text edit" categoryId="<%=categories[i]._id%>"> Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                                    </button> -->
                                    <a class="dropdown-item edit" href="#" categoryId="<%=categories[i]._id%>">Edit</a>
                                    <a class="dropdown-item status" href="#"  categoryId="<%=categories[i]._id%>">
                                    <%if(categories[i].status){%> 
                                      unlist
                                    <%}else{%>
                                      list
                                    <%}%>
                                    </a>

                                    <%if(categories[i].offer){%>
                                      <a class="dropdown-item categoryAction removeOffer " href="#" categoryId="<%=categories[i]._id%>" id="manageOffer<%=categories[i]._id%>">Remove offer</a>

                                    <%}else{%>
                                    <a class="dropdown-item categoryAction applyOffer " href="#" categoryId="<%=categories[i]._id%>" id="manageOffer<%=categories[i]._id%>">Apply offer</a>


                                    <%}%>
                                </div>
                              </div>

                            </td>
                        </tr>
                            <%
                            }
                        }else{
                        %>
                          <tr>No categories exist.....</tr>
                        <%}%>
                        </tbody>
                      </table>


                      <div id="myModal" class="modal">
                        <div class="modal-content " >
                          <span class="close d-flex justify-content-end" id="closeBtn" ><i class="mdi mdi-window-close"></i></span>
                          <p>Are you sure you want to list/unlist this Category ?</p>
                          <div class="d-flex justify-content-center">
                            <button id="confirmBtn" class="button-24" role="button">Confirm</button>
                          </div>
                         
                        </div>
                      </div>
                      

                      <div id="viewModal" class="modal ">
                        <div class="offer-modal-content viewProductDetailsModal" >
                          <span class="close d-flex justify-content-end"  ><i class="mdi mdi-window-close " id="viewModalClose"></i></span>
                          <div id="viewModal-content" class="mb-2">
                            
                          </div>
                  
                        </div>
                      </div>
                      

                      <div class="d-flex justify-content-center p-3">
                        <%if(locals.pagination){%>
                          <nav aria-label="Page navigation example" id="pagination">
                            <ul class="pagination ">
                              <li class="page-item viewCategoryOptions" id="prev" >
                                <a class="page-link " href="#" aria-label="Previous">
                                  <span aria-hidden="true" >&laquo;</span>
                                  <span class="sr-only" >Previous</span>
                                </a>
                              </li>
                              <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
                              <li class="page-item" ><a class="page-link" href="#" id="current"><%=locals.currentPage%></a></li>
                              
                              <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                              <li class="page-item viewCategoryOptions" id="next" >
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true" >&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                          <%}%>
                      </div>


                    </div>
                  </div>
                </div>
            </div>


          


              