 
            <div class=" grid-margin stretch-card px-5 p-4" id="categ">
                <div class="card">
                  <div class="card-body">

                    <div class="px-auto">
                      <% if(locals.key){%>
                        <h4 class="card-title">Search result for <%=key%></h4>
                        <%}else{%>
                      <h2 class="card-title ">Coupones</h2>
                      <%}%>
                    </div>

             

                   
                    </p>
                    <div class="table-responsive">
                    <%if(locals.coupones && coupones.length > 0){%>
                      <table class="table table-hover table-borderless" id="">
                        <thead class="border-bottom">
                          <tr>
                           
                            <th>Code</th>
                            <th>Min Purchase Amt.</th>
                            <th>Max Purchase Amt.</th>
                            <th>Discount</th>
                            <th>Start Date</th>
                            <th>Expire Date</th>
                            <th>Status</th>
                            <th>Action</th>

                          </tr>
                        </thead>
                        <tbody>
                            <%for(let coupone of coupones){%>
                                <tr>
                                    <td><%= coupone.couponeCode%></td>
                                    <td><%= coupone.minPurchaseAmount%></td>
                                    <td><%= coupone.maxPurchaseAmount%></td>
                                    <td><%= coupone.couponeDiscount%></td>
                                    <td><%= coupone.startDate.toDateString() %></td>
                                    <td><%= coupone.expireDate.toDateString() %></td>
                                    <td><% if(coupone.status){%>
                                         <span class="text-success" id="status<%=coupone._id%>">listed</span>
                                         <%}else{%>
                                        <span class="text-danger" id="status<%=coupone._id%>">unlisted</span>
                                        <%}%></td>


                                    <td>

                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                          
                                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item couponeAction edit" href="#" couponeId="<%=coupone._id%>">Edit</a>
                                              <a class="dropdown-item couponeAction status" href="#"  couponeId="<%=coupone._id%>" id="change<%=coupone._id%>">
                                                <%if(coupone.status){%>
                                                    unlist
                                                <%}else{%>
                                                    list
                                                <%}%>
                                              </a>
                                          </div>
                                        </div>
          
                                      </td>


                                </tr>
                          
                            <%}%>
                        </tbody>
                      </table>
                      <%}else{%>
                        <div class="noData">
                          No coupone created..!

                        </div>

                        <%}%>
                      <div id="myModal" class="modal">
                        <div class="modal-content " >
                          <span class="close" id="closeBtn"><i class="mdi mdi-window-close"></i></span>
                          <p>Are you sure you want to list/unlist this Brand ?</p>
                          <button id="confirmBtn">Confirm</button>
                         
                        </div>
                      </div>




                      <%if(locals.pagination){%>
                      <nav aria-label="Page navigation example" id="pagination">
                        <ul class="pagination ">
                          <li class="page-item viewbrandOptions" id="prevBrand">
                            <a class="page-link " href="#" aria-label="Previous">
                              <span aria-hidden="true" >&laquo;</span>
                              <span class="sr-only" >Previous</span>
                            </a>
                          </li>
                          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
                          <li class="page-item" ><a class="page-link" href="#" id="currentBrand">1</a></li>
                          
                          <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                          <li class="page-item viewbrandOptions" id="nextBrand">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true" >&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      <%}%>

                    </div>
                  </div>
                </div>
            </div>


          


              