<%- include("../partials/userHeader.ejs") %>


<%if(locals.banners && banners.length>0){%>
<!-- Start Banner Area -->
<div  class="hero">
    <div id="carouselExampleFade" class="carousel slide carousel-fade hero_carousel" data-bs-ride="carousel">
        <div class="carousel-inner" >
            <%for(let banner of banners){%>

            <div class="carousel-item banner-item <%= banner === banners[0] ? 'active' : '' %>" data-bs-interval="4000" style="background-image: url('/static/bannerImages/<%=banner.bannerBackground%>'); ">
                <div class="container" >
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6><%=banner.miniTitle%></h6>
                                <h2><%=banner.mainTitle%></h2>
                                <p><%=banner.description%></p>
                                <a href="<%=banner.link%>" class="dark-btn">Shop now</a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>         
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="border: 0; background: transparent; ">
            <span class="mdi mdi-arrow-left" aria-hidden="true" style="color: rgb(105, 104, 104); font-size: 30px;"></span>
            <!-- <span class="visually-hidden">Previous</span> -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="border: 0; background: transparent; ">
            <span class="mdi mdi-arrow-right" aria-hidden="true" style="color: rgb(105, 104, 104); font-size: 30px;"></span>
            <!-- <span class="visually-hidden">Next</span> -->
        </button>
    </div>
</div>
<!-- End Banner Area -->
<%}else{%>
    <!-- Start Banner Area -->
<div  class="hero">
    <div id="carouselExampleFade" class="carousel slide carousel-fade hero_carousel" data-bs-ride="carousel">
        <div class="carousel-inner" >

            <div class="carousel-item banner-item active" data-bs-interval="4000" style="background-image: url('/static/assets/img/banner/black11.jpg'); ">
                <div class="container" >
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="dark-btn">Shop now</a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item banner-item" data-bs-interval="4000" style="background-image: url('/static/assets/img/banner/3.jpg'); ">
                <div class="container" >
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="dark-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="border: 0; background: transparent; ">
            <span class="mdi mdi-arrow-left" aria-hidden="true" style="color: rgb(105, 104, 104); font-size: 30px;"></span>
            <!-- <span class="visually-hidden">Previous</span> -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="border: 0; background: transparent; ">
            <span class="mdi mdi-arrow-right" aria-hidden="true" style="color: rgb(105, 104, 104); font-size: 30px;"></span>
            <!-- <span class="visually-hidden">Next</span> -->
        </button>
    </div>
</div>
<!-- End Banner Area -->
<%}%>


<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/static/assets/img/features/f-icon1.png" alt="" style="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/static/assets/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/static/assets/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/static/assets/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->



<!-- -------------------------------------------------------------- -->

<!-- Start category Area -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
    <div class="d-flex justify-content-center">
        <h3 class="mb-5">Our Popular Categories</h3>
    </div>
    <div class="carousel-inner">
    <%for(let i=0;i < 2;i++){ 
        if(!mostSoldCategories[i]) break
 
        %>
      <div class="carousel-item <%if(i==0){%>active" <% }else{ %>"<%}%> >
        <div class="card-wrapper container">
            <div class="row">
                <%for(let j=i*3 ;j< (i*3)+3;j++ ){
                    if(!mostSoldCategories[j]) break
                    %>
                <div class="  col-md-4 col-12" style="width: 18rem;">
                    <div class="single-deal" style="position: relative;">
                        <div class="overlay"></div>
                        <div class="category-image-container">
                            <img class="img-fluid w-100 product-image" src="/static/productImages/<%=mostSoldCategories[j].product.images[0]%>" alt="">
                            <h5 style="transform: rotate(270deg); position: absolute; top: 25%; left: -20%;" class="crossLabel">POPULAR CATEGORIES</h5>
        
                        </div>
                            
                            <div class="deal-details">
                                <a href="" style="width: 100%; background-color: #000 ;color: #fff; " class="mx-auto d-flex justify-content-center p-2"><span>Explore</span></a>
    
                                <h6 class="deal-title" style="visibility: hidden;">Sneaker for Sports</h6>
                            </div>
                            

                           
                        
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6 class="deal-title mb-3"><%=mostSoldCategories[j].categoryDetails[0].name%></h6>
        
                    </div>
                   
                    
                     
                  </div>
                <%}%>

            </div>


        </div>
      </div>
      <%}%>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="background-color: transparent; border: 0; color: black;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><i class="mdi mdi-chevron-double-left display-4"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="background-color: transparent; border: 0; color: black;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><i class="mdi mdi-chevron-double-right display-4"></i></span>
    </button>
  </div>
<!-- End category Area -->
        
<style>
    
  /*  Rollover image styles  */

  .figure img.Sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .overlay-div:hover img.Sirv.image-hover {
    opacity: 1;
  }

</style>

<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>

<!-- --------------------------------------------------------------------------- -->

<%if(locals.latestProducts && locals.affordableProducts){%>
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>Elevate your style with our latest addition to the collection. Meticulously designed and crafted with the modern man in mind, this garment is a perfect blend of fashion and function. Whether you're heading to the office, out for a casual evening, or stepping into a special event, this item is a versatile choice that will keep you looking sharp.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <%for(product of latestProducts){%>
                           <!-- single product -->
                    <div class="col-md-3 col-sm-12">

                        <div class="single1-product">
                            <%if(product.effectedDiscount){%>
                                <div class="badge-area-show">
                                    <div class="bagde-flag-wrap">
                                      <a href="#" class="bagde-flag"> <%=product.effectedDiscount%>% off</a>
                                    </div>
                                  </div>
                            <%}%>
                            <div class="" style="position: relative;">
                                <a href="/productDetails?id=<%=product._id%>">
                                <div class="overlay-div">
                                <div class="product1-image-container figure" style="position: relative;">
                                    <img class="img-fluid w-100 product1-image" src="/static/productImages/<%=product.images[0]%>" alt="">
                                    
                                        <img class="Sirv image-main" src="/static/productImages/<%=product.images[0]%>" data-src="/static/productImages/<%=product.images[0]%>">
                                        <img class="Sirv image-hover" data-src="/static/productImages/<%=product.images[1]%>" >
                                    
                                </div>
                                <!-- <div class="overlay"></div> -->
                                </div>
                                </a>
                                <div class="prod-actions w-100">
    
                                    <div class="d-flex justify-content-around px-1">
                                        <a href="/productDetails?id=<%=product._id%>"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-dark" target="_blank">
                                            
                                            <span class="mr-1"> View More </span><i class="mdi mdi-eye"></i>
                                        </a>
                                        <%
                                         let InCart = locals.cart ? cart.cartItems.some(item => item.product.equals(product._id)) : false
											
                                        if(!InCart && product.stock > 0){

                                        %>
                                        <a href="#"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white searchAction" productId="<%=product._id%>" easyAddToCart>
                                            
                                            <span class="mr-1 searchAction text-capital" productId="<%=product._id%>" easyAddToCart> Add To Cart </span><i class="mdi mdi-cart searchAction" productId="<%=product._id%>" easyAddToCart></i>
                                        </a>
                                        <%}else if(InCart){%>
                                            <a href="/api/goToCart"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white">
                                            
                                                <span class="mr-1 text-capital"> GO To Cart </span><i class="mdi mdi-cart "></i>
                                            </a>
                                        <%}%>
    
                                    </div>
        
                                    
                                </div>   
                                
                            </div>
    
                            <div class="p-3 product-details">
                                <h6 class="deal-title mb-3"><%=product.name%></h6>
                                <div class="d-flex ">
                                    
                                    <div class="pricing">
                                        <%if(product.effectedDiscount && product.effectedDiscount>0){%>
                                            <span class="l-through mr-2">&#8377;<%= product.price%></span>
                                            <span class="product-price ">&#8377; <%=product.price-(product.price*product.effectedDiscount)/100%></span>
                                            
                                        <%}else{%>
                                            <span class="product-price">&#8377;<%= product.price%></span>
                                        <%}%>
                                    </div>
                                    <div class="rating"></div>
                                </div>
                            </div>
                        </div>
                         
                    </div>
                        
                <%}%>

            </div>
        </div>
    </div>

    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Affordable Men's Fashion Finds</h1>
                        <p>Discover incredible value in our collection of affordable men's fashion. We believe that looking stylish shouldn't break the bank, and this selection proves just that. Explore a range of well-priced clothing and accessories designed to keep you in vogue without compromising on quality.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <%for(product of affordableProducts){%>

                    <!-- single product -->
                    <div class="col-md-3 col-sm-12">

                        <div class="single1-product">
                            <%if(product.effectedDiscount){%>
                                <div class="badge-area-show">
                                    <div class="bagde-flag-wrap">
                                      <a href="#" class="bagde-flag"> <%=product.effectedDiscount%>% off</a>
                                    </div>
                                  </div>
                            <%}%>
                            <div class="" style="position: relative;">
                                <a href="/productDetails?id=<%=product._id%>" target="_blank">
                                <div class="overlay-div">
                                <div class="product1-image-container">
                                    <img class="img-fluid w-100 product1-image" src="/static/productImages/<%=product.images[0]%>" alt="">
                                
                                </div>
                                <div class="overlay"></div>
                                </div>
                                </a>
                                <div class="prod-actions w-100">
    
                                    <div class="d-flex justify-content-around px-1">
                                        <a href="/productDetails?id=<%=product._id%>"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-dark">
                                            
                                            <span class="mr-1"> View More </span><i class="mdi mdi-eye"></i>
                                        </a>
                                        <%
                                         let InCart = locals.cart ? cart.cartItems.some(item => item.product.equals(product._id)) : false
											
                                        if(!InCart && product.stock > 0){

                                        %>
                                        <a href="#"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white searchAction" productId="<%=product._id%>" easyAddToCart>
                                            
                                            <span class="mr-1 searchAction text-capital" productId="<%=product._id%>" easyAddToCart> Add To Cart </span><i class="mdi mdi-cart searchAction" productId="<%=product._id%>" easyAddToCart></i>
                                        </a>
                                        <%}else if(InCart){%>
                                            <a href="/api/goToCart"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white">
                                            
                                                <span class="mr-1 text-capital"> GO To Cart </span><i class="mdi mdi-cart "></i>
                                            </a>
                                        <%}%>
    
                                    </div>
        
                                    
                                </div>   
                                
                            </div>
    
                            <div class="p-3 product-details">
                                <h6 class="deal-title mb-3"><%=product.name%></h6>
                                <div class="d-flex ">
                                    
                                    <div class="pricing">
                                        <%if(product.effectedDiscount && product.effectedDiscount>0){%>
                                            <span class="l-through mr-2">&#8377;<%= product.price%></span>
                                            <span class="product-price ">&#8377; <%=product.price-(product.price*product.effectedDiscount)/100%></span>
                                            
                                        <%}else{%>
                                            <span class="product-price">&#8377;<%= product.price%></span>
                                        <%}%>
                                    </div>
                                    <div class="rating"></div>
                                </div>
                            </div>
                        </div>
                         
                    </div>



                <%}%>

            </div>
        </div>
    </div>

</section>
<!-- end product Area -->
<%}%>

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Exclusive Hot Deal Ends Soon!</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">150</h1>
                                <span class="smalltext">Days</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Hours</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Mins</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="primary-btn">Shop Now</a>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="/static/assets/img/category/jacket.avif" alt="">
                        <div class="product-details">
                            <div class="price">
                                <h6>$150.00</h6>
                                <h6 class="l-through">$210.00</h6>
                            </div>
                            <h4>addidas New Hammer sole
                                for Sports person</h4>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <span class="add-text text-uppercase">Add to Bag</span>
                            </div>
                        </div>
                    </div>
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="/static/assets/img/category/jacket.avif" alt="">
                        <div class="product-details">
                            <div class="price">
                                <h6>$150.00</h6>
                                <h6 class="l-through">$210.00</h6>
                            </div>
                            <h4>addidas New Hammer sole
                                for Sports person</h4>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <span class="add-text text-uppercase">Add to Bag</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <%for(let brand of brands){%>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="/static/brandImages/<%=brand.logo%>" alt="">
            </a>
            <%}%>
        </div>
    </div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r2.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r3.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r5.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r7.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r9.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r10.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/static/assets/img/r11.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="/static/assets/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->


	<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<p id="modal-message">Your message goes here.</p>
		</div>
	</div>



<%- include("../partials/userFooter.ejs") %>