<%- include("../partials/userHeader.ejs") %>


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <!-- Your Sidebar Content Goes Here -->
                      	<div>
                            <%
                            if(locals.categories){
                            %>
							<div class="d-flex justify-content-center p-2">
								<div class="" style="color: black; font-weight: 700; text-transform: uppercase;">Categories</div>
							</div>
                          <div class="sidebar-categories">
                              
                              <ul class="main-categories">

                                 <% for(let category of categories){%>
                                  <li class="main-nav-list"><a class="border-bottom-0">
                                    <label for="<%=category._id%>">
                                        <input type="checkbox" name="category" value="<%=category._id%>" id="<%=category._id%>" class="product-search">
                                        <%=category.name%>
                                    </label>
									</a>
                                  </li>
                                  <%}%>
                              </ul>
                          </div>
                            <%
                            }
                            %>
						  <div class="sidebar-filter mt-50">
                            
							
                            <%if(locals.brands){%>
							<div class="common-filter">
								<div class="head">Brands</div>
								<form action="#">
									<ul>
                                        <%for(let brand of brands){%>
										<li class="filter-list">
											<input class="pixel-radio product-search" type="checkbox" id="<%=brand._id%>" name="brand" value="<%=brand._id%>"><label for="<%=brand._id%>"><%=brand.name%></label>
										</li>
										<%}%>
									</ul>
								</form>
							</div>
                            <%}%>
							<!-- <div class="common-filter">
								<div class="head">Color</div>
								<form action="#">
									<ul>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
												Leather<span>(29)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
												with red<span>(19)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
									</ul>
								</form>
							</div> -->
							<div class="common-filter">
								<div class="head">Price</div>
								<div class="price-range-area">
									<div id="price-range"></div>
									<div class="value-wrapper d-flex">
										<div class="price">Price:</div>
										<span>$</span>
										<div id="lower-value"></div>
										<div class="to">to</div>
										<span>$</span>
										<div id="upper-value"></div>
									</div>
								</div>
							</div>
						</div>
						</div>

						  
                  
                    </div>
                  </nav>

			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filterBar d-flex flex-wrap align-items-center">
					<div class="mr-auto">
						<div class="box">
							<form name="search">
								<input type="text" class="input product-search" name="txt" onmouseout="this.value = ''; this.blur();" id="productSearchKey" placeholder="Search Products">
							</form>
							<i class="lnr lnr-magnifier"></i>
						
						</div>
					</div>
					<div class="">
						<select  id="sortBy">
							<option value="default">Sort By: Feature</option>
							<option value="price-low-to-high">Price Low to High</option>
							<option value="price-high-to-low">Price High to Low</option>
							<option value="latest">Sort : Latest</option>
						</select>
					</div>



				</div>
				<!-- End Filter Bar -->

				<!-- Start Best Seller -->
				<section class="lattest-product-area mt-5 category-list">
					<div class="row" id="searchedProductList">
                    <%
                    if(locals.products?.length > 0){
                        for(let product of products){
                        %>
						   <!-- single product -->
						   <div class="col-md-3 col-sm-12">

							<div class="single1-product">
								<%if(product.effectedDiscount){%>
									<div class="badge-area-show">
										<div class="bagde-flag-wrap">
										  <a href="#" class="bagde-flag"> <%=product.effectedDiscount%>% off</a>
										</div>
									  </div>
								<%}%>
								<div class="" style="position: relative;">
									<a href="/productDetails?id=<%=product._id%>" target="_blank">
									<div class="overlay-div">
									<div class="product1-image-container">
										<img class="img-fluid w-100 product1-image" src="/static/productImages/<%=product.images[0]%>" alt="">
									
									</div>
									<div class="overlay"></div>
									</div>
									</a>
									<div class="prod-actions w-100">
		
										<div class="d-flex justify-content-around px-1">
											<a href="/productDetails?id=<%=product._id%>"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-dark">
												
												<span class="mr-1"> View More </span><i class="mdi mdi-eye"></i>
											</a>
											<%
											 let InCart = locals.cart ? cart.cartItems.some(item => item.product.equals(product._id)) : false
												
											if(!InCart && product.stock > 0){
	
											%>
											<a href="#"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white searchAction" productId="<%=product._id%>" easyAddToCart>
												
												<span class="mr-1 searchAction text-capital" productId="<%=product._id%>" easyAddToCart> Add To Cart </span><i class="mdi mdi-cart searchAction" productId="<%=product._id%>" easyAddToCart></i>
											</a>
											<%}else if(InCart){%>
												<a href="/api/goToCart"  class="d-flex align-items-center justify-content-center m-1 popOver-btn-white">
												
													<span class="mr-1 text-capital"> GO To Cart </span><i class="mdi mdi-cart "></i>
												</a>
											<%}%>
		
										</div>
			
										
									</div>   
									
								</div>
		
								<div class="p-3 product-details">
									<h6 class="deal-title mb-3"><%=product.name%></h6>
									<div class="d-flex ">
										
										<div class="pricing">
											<%if(product.effectedDiscount && product.effectedDiscount>0){%>
												<span class="l-through mr-2">&#8377;<%= product.price%></span>
												<span class="product-price ">&#8377; <%=product.price-(product.price*product.effectedDiscount)/100%></span>
												
											<%}else{%>
												<span class="product-price">&#8377;<%= product.price%></span>
											<%}%>
										</div>
										<div class="rating"></div>
									</div>
								</div>
							</div>
							 
						</div>
                    <%
                    }
                        }else{
                    %>	<div class="col-lg-12 noresultDiv p-3">
							<div class="d-flex justify-content-center">
							<lottie-player src="https://lottie.host/a7470a7f-8508-464a-a71c-9926c8f04ab1/wemUnPijfZ.json" background="##ffffff" speed="1" style="width: 300px; height: 300px" loop  autoplay direction="1" mode="normal"></lottie-player>
							</div>
							<div class='noresultHead'>
							<h3>No results found..!</h3>
							</div>
						</div>
							
						<%}%>
					

					</div>
				</section>
				<!-- End Best Seller -->


				<%if(locals.products?.length > 0){%>
				<div class=" d-flex  flex-wrap align-items-center justify-content-center mt-2">
					<input type="hidden" name="" id="totalProductPages" value="<%= totalPages%>">
					<!-- pagination -->
					<div class="d-flex justify-content-center">
						<nav aria-label="Page navigation example" class="">
							<ul class="pagination">
							<li class="page-item "><a class="page-link w-100 searchAction"  href="#" id="prevProducts">Previous</a></li>
							
							<li class="page-item"><a class="page-link" href="#" disabled id="curProductPage"><%=page%></a></li>
							
							<li class="page-item"><a class="page-link w-100 searchAction" href="#" id="nextProducts">Next</a></li>
							</ul>
						</nav>

					</div>
				</div>
				<%}%>
				
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r1.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r2.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r3.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r5.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r6.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r7.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r9.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r10.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<!-- <a href="#"><img src="img/r11.jpg" alt=""></a> -->
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<!-- <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt=""> -->
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->


	<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<p id="modal-message">Your message goes here.</p>
		</div>
	</div>


<%- include("../partials/userFooter.ejs") %>