<%- include("../partials/userHeader.ejs") %>


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <!-- Your Sidebar Content Goes Here -->
                      	<div>
                            <%
                            if(locals.categories){
                            %>
                          <div class="sidebar-categories">
                              <div class="head">Browse Categories</div>
                              <ul class="main-categories">

                                 <% for(let category of categories){%>
                                  <li class="main-nav-list"><a class="border-bottom-0">
                                    <label for="<%=category._id%>">
                                        <input type="checkbox" name="category" value="<%=category._id%>" id="<%=category._id%>" class="product-search">
                                        <%=category.name%>
                                    </label>
									</a>
                                  </li>
                                  <%}%>
                              </ul>
                          </div>
                            <%
                            }
                            %>
						  <div class="sidebar-filter mt-50">
                            
							<div class="top-filter-head">Product Filters</div>
                            <%if(locals.brands){%>
							<div class="common-filter">
								<div class="head">Brands</div>
								<form action="#">
									<ul>
                                        <%for(let brand of brands){%>
										<li class="filter-list">
											<input class="pixel-radio product-search" type="checkbox" id="<%=brand._id%>" name="brand" value="<%=brand._id%>"><label for="<%=brand._id%>"><%=brand.name%></label>
										</li>
										<%}%>
									</ul>
								</form>
							</div>
                            <%}%>
							<div class="common-filter">
								<div class="head">Color</div>
								<form action="#">
									<ul>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
												Leather<span>(29)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
												with red<span>(19)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
									</ul>
								</form>
							</div>
							<div class="common-filter">
								<div class="head">Price</div>
								<div class="price-range-area">
									<div id="price-range"></div>
									<div class="value-wrapper d-flex">
										<div class="price">Price:</div>
										<span>$</span>
										<div id="lower-value"></div>
										<div class="to">to</div>
										<span>$</span>
										<div id="upper-value"></div>
									</div>
								</div>
							</div>
						</div>
						</div>

						  
                  
                    </div>
                  </nav>

			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filterBar d-flex flex-wrap align-items-center">
					<div class="mr-auto">
						<div class="box">
							<form name="search">
								<input type="text" class="input product-search" name="txt" onmouseout="this.value = ''; this.blur();" id="productSearchKey" placeholder="Search Products">
							</form>
							<i class="lnr lnr-magnifier"></i>
						
						</div>
					</div>
					<div class="">
						<select  id="sortBy">
							<option value="default">Sort By: Feature</option>
							<option value="price-low-to-high">Price Low to High</option>
							<option value="price-high-to-low">Price High to Low</option>
							<option value="latest">Sort : Latest</option>
						</select>
					</div>



				</div>
				<!-- End Filter Bar -->

				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row" id="searchedProductList">
                    <%
                    if(locals.products){
                        for(let product of products){
                        %>
                        <!-- single product -->
                        <div class="col-lg-3 col-6 h-50">
                            <div class="single-product productdiv">
                                <div class="product-container">
                                    <div class="product-image-container">
                                        <a target="_blank" href="/productDetails?id=<%=product._id%>"  ><img class="img-fluid product-image" src="/static/productImages/<%= product.images[0] %>" alt=""></a>
                                    </div>
                                    <div class="product-details">
                                        <h6 class="product-title"><%=product.name%></h6>
                                        <div class="price">
                                            <h6 class="product-price"><%=product.price%></h6>
                                            <h6 class="l-through product-original-price"><%=product.price +100%></h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <a href="" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>

                                            <a href="/productDetails?id=<%=product._id%>" target="_blank" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%
                    }
                        }
                    %>
					

					</div>
				</section>
				<!-- End Best Seller -->


				<!-- Start Filter Bar -->
				<div class=" d-flex  flex-wrap align-items-center justify-content-center mt-2">
					<input type="hidden" name="" id="totalProductPages" value="<%= totalPages%>">
					<!-- pagination -->
					<div class="d-flex justify-content-center">
						<nav aria-label="Page navigation example" class="">
							<ul class="pagination">
							<li class="page-item "><a class="page-link w-100 searchAction"  href="#" id="prevProducts">Previous</a></li>
							
							<li class="page-item"><a class="page-link" href="#" disabled id="curProductPage"><%=page%></a></li>
							
							<li class="page-item"><a class="page-link w-100 searchAction" href="#" id="nextProducts">Next</a></li>
							</ul>
						</nav>

					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r1.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r2.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r3.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r5.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r6.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r7.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r9.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r10.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r11.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->


	<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<p id="modal-message">Your message goes here.</p>
		</div>
	</div>


<%- include("../partials/userFooter.ejs") %>