<%- include("../partials/userHeader.ejs") %>




<section class="cart_area" style="background-color: rgb(241,243,246);">
  



    <div class="container">
        <div class=" row">
            


        <%if(locals.orderData){%>

          <!-- storing order _id and product _id -->

<input type="hidden" name="" id="orderId" value="<%=orderData._id%>">
<input type="hidden" name="" id="productId" value="<%=orderData.items[0].product._id%>">
            
            <div class="col-lg-12 mx-auto">
            <div class="blog_right_sidebar project my-2 ">
                <div><h5>Delivery Address</h5></div>

                <div class="address p-3 selected" id="">
        
                   
                    <div>
                        <div class=" head"><span class="p-1 mr-1 text-dark"><%=orderData.shippingAddress.name%></span><span class="p-1 text-dark"><%=orderData.shippingAddress.mobile%></span></div>
                    </div>
                    <p class="p-1 infos">
                        <%= orderData.shippingAddress.area%>, <%= orderData.shippingAddress.locality%>, <%=orderData.shippingAddress.city%>, <%=orderData.shippingAddress.state%>-<span class="text-dark "><%=orderData.shippingAddress.pincode%></span> 
                    </p>
                </div>

            </div>
            </div>

            <div class="col-lg-12 mx-auto">
              
                <div class=" my-2 blog_right_sidebar project">
                  

                    <%for(let item of orderData.items){%>
                      <input type="hidden" name="" id="orderStatus" value="<%=item.orderStatus%>">
                    
                          <div class="card card-stepper ">
                            <div class="card-header p-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body"><%=orderData.orderNumber%></span></p>
                                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"><%=orderData.createdAt%></span> </p>
                                </div>
                                <div>
                                  <!-- <h6 class="mb-0"> <a href="/productDetails?id=<%=item.product._id%>">View Details</a> </h6> -->
                                </div>
                              </div>
                            </div>
                            <div class="card-body p-4">
                              <div class="d-flex flex-row mb-4 pb-2">
                                <div class="flex-fill">
                                  <h5 class="bold"><%=item.product.name%></h5>
                                
                                  <p class="text-muted"> Qt: <%=item.quantity%> item</p>
                                  <h4 class="mb-3"> &#8377; <%=item.price%> <span class="small text-muted"> via (<%=orderData.paymentMethod%>) </span></h4>
                                  <p class="text-muted">Payment Status : <span class="text-body"><%=item.paymentStatus%> </span></p>
                                  <p class="text-muted">Tracking Status on: <span class="text-body"><%=new Date().toLocaleTimeString()%>, Today</span></p>
                                </div>
                                <div>
                                    <a href="/productDetails?id=<%=item.product._id%>">
                                  <img class="align-self-center img-fluid"
                                    src="/static/productImages/<%=item.product.images[0]%>" width="250">
                                </a>
                                </div>
                              </div>
                              
                              <ol id="progress-bar" class="px-0">
                                <li class="step-done">Pending</li>
                                <li class="step-done">Processing</li>
                                <li class="step-active">Shipped</li>
                                <li class="step-todo">Delivered</li>
                                <li class="step-todo" style="display: none;">Canceled</li>
                              </ol>

                            
                            </div>
                            <div class="card-footer p-4">
                              <div class="d-flex justify-content-around">

                                <h5 class="mb-0"> <a href="/productDetails?id=<%=item.product._id%>">View Details</a> </h5>
                                <%if(item.orderStatus!='Canceled'){%>
                                <h5 class="fw-normal mb-0" id="cancelOrderH5"><a href="#!" id="cancelOrder" class="orderAction" >Cancel</a></h5>
                                <%}%>  
                              
                              </div>
                            </div>
                          </div>
               
                    
                    <%}%>
                  </div>
                </div>

        

        <%}%>
        

</div>
</div>

</section>


 

<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

<div id="modal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p id="modal-message">Your message goes here.</p>
  </div>
</div>






<%- include("../partials/userFooter.ejs") %>