<%- include("../partials/userHeader.ejs") %>




<section class="cart_area" style="background-color: rgb(241,243,246);">
  



    <div class="container">
        <div class=" row">
            


        <%if(locals.orderData){%>

          <!-- storing order _id and product _id -->

<input type="hidden" id="orderId" value="<%=orderData._id%>">
<input type="hidden" id="productId" value="<%=orderData.items[0].product._id%>">
<%if(orderData.items[0].returnStatus){%>
<input type="hidden" id="returnStatus" value="<%=orderData.items[0].returnStatus%>">
<%}%>


            <div class="col-lg-12 mx-auto">
              
                <div class=" my-2 blog_right_sidebar project">
                  

                    <%for(let item of orderData.items){%>
                      <input type="hidden" name="" id="orderStatus" value="<%=item.orderStatus%>">
                    
                          <div class="card card-stepper ">
                            <div class="card-header p-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body"><%=orderData.orderNumber%></span></p>
                                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"><%=orderData.createdAt%></span> </p>
                                </div>
                                <div>
                                  <%if(item.paymentStatus=='received'){%>
                                  <a href="/api/downloadInvoice?orderId=<%=orderData._id%>" id="invoice"> <i class="mdi mdi-file-document"></i> <span class="invoice">Download Invoice</span></a>
                                  <%}%>
                                </div>
                              </div>
                            </div>
                            <div class="card-body p-4">
                              <div class=" mb-4 pb-2 row">

                                <div class="flex-fill col-lg-9 order-lg-1 order-2">
                                  <h5 class="bold"><%=item.product.name%></h5>
                                
                                  <p class="text-muted"> Qt: <%=item.quantity%> item</p>
                                  <%if(item.discount && item.discount>0){%>
                                  <h4 class="mb-3"> &#8377; <%=item.price%> <span class="small text-muted"> via (<%=orderData.paymentMethod%>) </span></h4>

                                    <!-- Price :<span class="darkText amount" > <%=item.price%></span></p> -->
                                    <h6><span id="offer"><%=item.discount%></span>% off</h6>
                                    <del class="orginalPrice">MRP <span ><%=item.MRP%></span></del>
                                <%}else{%>
                                  <h4 class="mb-3"> &#8377; <%=item.price%> <span class="small text-muted"> via (<%=orderData.paymentMethod%>) </span></h4>

                                    <!-- Price :<span class="darkText amount" >&#8377; <%=item.price%></span></p> -->
                                <%}%>
                                  <p class="text-muted">Payment Status : <span class="text-body"><%=item.paymentStatus%> </span></p>
                                  <%if(orderData.couponeDiscount>0){%>
                                    <span>Coupone applied <i class="mdi mdi-gift"></i></span>
                                    <%}%>
                                     
                                  <p class="text-muted">Tracking Status on: <span class="text-body"><%=new Date().toLocaleTimeString()%>, Today</span></p>

                                  
                                  <div style="width: auto;">
                                    <div><h5>Delivery Address</h5></div>

                                    <div class=" p-3 " id="">
                                        <div>
                                            <div class=" head"><span class="p-1 mr-1 text-dark"><%=orderData.shippingAddress.name%></span><span class="p-1 text-dark"><%=orderData.shippingAddress.mobile%></span></div>
                                        </div>
                                        <p class="p-1 infos">
                                            <%= orderData.shippingAddress.area%>, <%= orderData.shippingAddress.locality%>, <%=orderData.shippingAddress.city%>, <%=orderData.shippingAddress.state%>-<span class="text-dark "><%=orderData.shippingAddress.pincode%></span> 
                                        </p>
                                    </div>
                                  </div>


                                </div>

                                <div class="col-lg-3 order-lg-2 order-1">
                                  <div class="d-flex justify-content-center mb-2">
                                    <a href="/productDetails?id=<%=item.product._id%>">
                                      <img class="align-self-center img-fluid"
                                        src="/static/productImages/<%=item.product.images[0]%>" width="250">
                                    </a>
                                  </div>

                                </div>

                              </div>

                              <!-- -------------------PROGRESS BAR-------------------- -->
                              <div id="progressDiv">
                              <%if(['returnPlaced','outForPick','returned'].includes(item.returnStatus)){%>
                                <div class="" id="orderProgressBar">
                                  <div class="stages">
                                    <div class="d-flex justify-content-between">
                                        <span class="progress-stage stage-0" id="stage-0"></span>
                                        <span class="progress-stage stage-2" id="stage-2"></span>
                                        <span class="progress-stage stage-4" id="stage-4"></span>
                                    </div>
  
                                    <div class="progress">
                                        <div id="progress" class="progress-bar" role="progressbar" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                    </div>
           
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                  <span>Return Placed</span>
                                  <span>Out For Pick</span>
                                  <span>Returned</span>
                                </div>
                                <div id="statusText" class="statusText" style="margin-top: 20px;">Return Placed</div>
                                </div>


                              <%}else if(item.orderStatus=='Canceled'){%>
                                <div class="">
                                  <div class="stages">
                                    <div class="d-flex justify-content-between">
                                        <span class="progress-stage stage-0" id="stage-0"></span>
                                        <span class="progress-stage stage-4" id="stage-4"></span>
                                    </div>
  
                                    <div class="progress">
                                        <div id="progress" class="progress-bar" role="progressbar" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                    </div>
           
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                  <span>Placed</span>

                                  <span>Canceled</span>

                                </div>
                                <div id="statusText" style="margin-top: 20px;">Order Placed</div>
                                </div>
                              <%}else{%>
                              <div class="" id="orderProgressBar">
                                <div class="stages">
                                  <div class="d-flex justify-content-between">
                                      <span class="progress-stage stage-0" id="stage-0"></span>
                                      <span class="progress-stage stage-1" id="stage-1"></span>
                                      <span class="progress-stage stage-2" id="stage-2"></span>
                                      <span class="progress-stage stage-3" id="stage-3"></span>
                                      <span class="progress-stage stage-4" id="stage-4"></span>
                                  </div>

                                  <div class="progress">
                                      <div id="progress" class="progress-bar" role="progressbar" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                  </div>
         
                              </div>
                              <div class="d-flex justify-content-between mt-3">
                                <span>Placed</span>
                                <span>Pending</span>
                                <span>Processing</span>
                                <span>Shipped</span>

                                <span>Delivered</span>

                              </div>
                              <div id="statusText" class="statusText" style="margin-top: 20px;">
                                Order Placed
                              </div>
                              </div>
                              <%}%>
                            </div>

                            </div>

                            <div class="card-footer p-4">
                              <div class="d-flex justify-content-around">

                                <h5 class="mb-0"> <a href="/productDetails?id=<%=item.product._id%>">View Details</a> </h5>
                                <%if(item.orderStatus!='Canceled' && item.orderStatus!='Delivered'){%>
                                <h5 class="fw-normal mb-0" id="cancelOrderH5"><a href="#!" id="cancelOrder" class="orderAction" >Cancel</a></h5>
                                <%}else if(item.orderStatus=='Delivered'){%>
                                <h5 class="fw-normal mb-0" id="returnOrderH5"><a href="#!" id="returnOrder" class="orderAction" productId="<%=orderData.items[0].product._id%>" orderId="<%=orderData._id%>">Return</a></h5>

                                <%}%>
                               
                              </div>
                            </div>
                          </div>
               
                    
                    <%}%>
                  </div>
                </div>

        

        <%}%>
        

</div>
</div>

</section>


<!-- ------------------------------------------------------singleCancelNotEligible ------------------------------------------------------>
<div id="cancelNotEligibleModal" class="rmmodal">
  <div class="rmmodal-content">
      
      <i class="mdi mdi-close rmclose orderAction" id="closeNotEligibleModal"></i>
      <div class="confirmHeader">
          <h3>Cancel item</h3>
      </div>
      <div class="confirmBody">
          <p id="notEligibleMessage"></p>
          <div id="OrderedItems">
            
          </div>
      </div>
      
      <div>
          <a id="cancelWholeOrder" class="darkBtn orderAction">Confirm</a>
          
      </div>
      
  </div>
</div>

 

<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

<div id="modal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p id="modal-message">Your message goes here.</p>
  </div>
</div>


<script src="/static/user/userJs/order/orderDetails.js"></script>
<%- include("../partials/userFooter.ejs") %>