<%- include("../partials/userHeader.ejs") %>



 <!--================Cart Area =================-->
  <section class="cart_area" style="background-color: rgb(241,243,246);">
    <div class="container">
        <div class="cart_inner row">

            <div class=" col-lg-8" id="stages">
<!-- ---------------------------------------------address section---------------------------------------------------- -->
            <div class="blog_right_sidebar project my-2" id="addsessSection">

                <div id="addAddressContainer" class="my-2"> <a href="#" ><div class="addAddress p-3 d-flex align-item-center atCheckout profileAction" id="addAddress" > <span class="big mr-1">+ </span> ADD NEW ADDRESS</div></a></div>



                <!-- -------------------------------------------------add address form------------------------------------------------ -->

                <div id="addressUpdateContainer">
                    <div class="address p-3 mb-4" id="newAddress">
                        <h4>ADD  NEW ADDRESS</h4>
                        <form action="" id="addressForm">
                            <div>
                    
                                <div class="row">
                                    <div class="col-md-6 py-3">
                                        <label for="fname" class="form-label">Name</label>
                                        <input type="text" id="fname" placeholder="Name" class="form-control">
                                        <div id="fnameError" class="errormsg"></div>
                                    </div>
                                    
                                    <div class="col-md-6 py-3">
                                        <label for="mobile" class="form-label">Mobile number</label>
                                        <input type="text"  id="mobile" class="form-control" placeholder="10-digit mobile number">
                                        <div id="mobileError" class="errormsg"></div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 py-3">
                                        <label for="pin" class="form-label">Pincode</label>
                                        <input type="text"  id="pin" class="form-control " placeholder="Pincode">
                                        <div id="pinError" class="errormsg"></div>
                                    </div>
                                    
                                    <div class="col-md-6 py-3">
                                        <label for="locality" class="form-label">Locality</label>
                                        <input type="text"  id="locality" class="form-control" placeholder="Locality">
                                        <div id="localityError" class="errormsg"></div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                    
                                    
                                    <div class="col py-3">
                                        <label for="area" class="form-label">Address</label>
                                        <textarea name="" id="area"  rows="4" class="form-control" placeholder="Address(Area and Street)"></textarea>
                                        <div id="areaError" class="errormsg"></div>
                                    </div>
                                    
                                </div>
                    
                                <div class="row">
                                    <div class="col-md-6 py-3">
                                        <label for="CDT" class="form-label">City/District/Town</label>
                                        <input type="text"  id="CDT" class="form-control " placeholder="City/District/Town">
                                        <div id="CDTError" class="errormsg"></div>
                                    </div>
                                    
                                    <div class="col-md-6 py-3">
                                        <label for="state" class="form-label">State</label>
                                        <div class="dropdown">
                                            <select class="form-select" aria-label="Select State" id="state">
                                            <option selected >Select State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Puducherry">Puducherry</option>
                                            </select>
                                        </div>
                                        
                                        
                                        
                                        <div id="stateError" class="errormsg"></div>
                                    </div>
                                    
                                </div>
                    
                                <div class="row">
                                    <div class="col-md-6 py-3">
                                        <label for="landmark" class="form-label">Landmark</label>
                                        <input type="text"  id="landmark" class="form-control " placeholder="Landmark(Optional)">
                                        <div id="landmarkError" class="errormsg"></div>
                                    </div>
                                    
                                    <div class="col-md-6 py-3">
                                        <label for="altPhone" class="form-label">Alternate Phone</label>
                                        <input type="text"  id="altPhone" class="form-control" placeholder="Alternate Phone(Optional)">
                                        <div id="altPhoneError" class="errormsg"></div>
                                    </div>
                                    
                                </div>
                    
                                <div class="p-3">
                                    <a href="#" class="darkBtn profileAction" id="saveAddress">SAVE</a>
                                    <a href="#" id="cancelAddAddress" class="btn profileAction"> Cancel</a>
                    
                                </div>
                                    
                                
                            
                    
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ------------------------------------------------------------add address form ends------------------------------------------ -->



                <div id="addressList">
                <%
                if(locals.addresses){
                    for(let address of addresses){
                    %>
                    <label for="<%=address._id%>" class="Radio address d-flex my-3 addressOption opts">

                        <div class="flex-grow-0 d-flex  align-items-center p-2" > <input type="radio" name="address" class="addressRadio checkoutActions" id="<%=address._id%>" onclick="changeLabelColor(this)"></div>
                       
                        <div class="addressRadio p-3 flex-grow-1" id="<%=address._id%>">
                            
                            
                            <div>
                                <div class="d-flex head"><h6 class="p-1 mr-1"><%=address.name%></h6><h6 class="p-1"><%=address.mobile%></h6></div>
                            </div>
                            <p class="p-1 infos">
                                <%= address.area%>, <%= address.locality%>, <%=address.city%>, <%=address.state%>-<span class="text-dark "><%=address.pincode%></span> 
                            </p>
                            <div class="d-flex justify-content-end"><a href='/editAddress?id=<%=address._id%>' class="px-2 opt-link editAddress profileAction" >Edit</a></div>
                        </div>

                    </label>
                <%
                    }
                }
                %>
                </div>
                <a href="#" class="yellowBtn checkoutActions" id="deliveyHere">Delivery Here</a>
                
            
            </div>
            <!-- ----------------------------------------------------address section end---------------------------------------- -->

            <div class="blog_right_sidebar my-3 project" id="orderSummeryContainer">

            <div id="orderSummeryPlaceholder">
                <h5>ORDER SUMMERY</h5>
            </div>
            


            <div id="orderSummeryData" >
                <%if(locals.product){%>

                <div class="media post_item cart-item project-effect" id ='orderdProduct' data="<%=product._id%>"  >

                    <div class="">
                        <a href="/productDetails?id=<%=product._id%>">
                        <div class="cartImg">
                            <img src="/static/productImages/<%=product.images[0]%>" alt="post">
                        </div>
                        </a>
                        <!-- <input type="hidden" name="" id="old<%=product._id%>" value=""> -->
                
                        <div class="product_count mt-4 ml-5">
                            <label for="productQty">Quantity :</label>
                            <input type="text" name="qty" class="text-center"  value="<%= quantity %>" disabled title="Quantity:" id="productQty">
                    
                        </div>
                        
                    </div>
                
                       
                        <div class="media-body cart-info">
                            <a href="#">
                                <a href="/productDetails?id=<%=product._id%>"><h4><%=product.name%></h4></a>
                            </a>
                            <p>
                             <span class="text-dark"><%=product.brand.name%></span> <br> 
                            Price :<span class="darkText amount" id="productPrice"> <%=product.price%></span><br>
                            Color: <input type="color" name="" id="" value="<%=product.color%>" disabled>
                            
                            </p>
                            
                            <h5 class="itemTotal"></h5>
                            
                            
                        </div>
                        
                    </div>
                    <div class="m-2 d-flex justify-content-end">
                        <button class="btn yellowBtn checkoutActions" id="continueOrderSummery">Continue</button>
                    </div>
                    <%}else{%>
                        <!-- giving a flag to script tha this is a checkout for cart items -->
                        <input type="hidden" id="cartAtCheckout">

                                    <%
                            if(locals.cart && cart && cart.cartItems.length > 0 ){
                            
                                
                            
                                for( let cartItem of cart.cartItems){
                                %>
                        
                            <div class="media post_item cart-item " id ='<%=cartItem.product._id%>'  >

                            <div class="">
                                <a href="/productDetails?id=<%=cartItem.product._id%>">
                                <div class="cartImg">
                                    <img src="/static/productImages/<%=cartItem.product.images[0]%>" alt="post">
                                </div>
                                </a>
                                <input type="hidden" name="" id="old<%=cartItem.product._id%>" value="<%=cartItem.quantity%>">
                                <div class="product_count mt-4 ml-5">
                                    <input type="text" name="qty" id="q<%=cartItem.product._id%>" maxlength="12" value="<%=cartItem.quantity%>" title="Quantity:"
                                        class="input-text qty" onchange="updateCart('<%=cartItem.product._id%>')">
                                    <button onclick="inc('q<%=cartItem.product._id%>')"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="dec('q<%=cartItem.product._id%>')"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>

                            </div>

                            
                                <div class="media-body cart-info">
                                    <a href="#">
                                        <a href="/productDetails?id=<%=cartItem.product._id%>"><h4><%=cartItem.product.name%></h4></a>
                                    </a>
                                    <p><%=cartItem.product.brand.name%><br>
                                    Price :<span class="darkText amount" > <%=cartItem.price%></span></p>
                                    
                                    <h5 class="itemTotal"></h5>
                                    
                                    
                                </div>
                                <a href="#" class="yellowBtn cartBtn" onclick="remove( '<%=cartItem.product._id%> ')">REMOVE</a>
                            
                            </div>
                            

                            <%
                                }%>
                                <div class="m-2">
                                    <button class=" darkBtn checkoutActions p-2 px-3" id="continueOrderSummery">Continue</button>
                                </div>
                                <%
                            }else{
                        %>
                        <div>
                            <h3>Empty Cart..!</h3>
                            <p>Currently, your shopping cart is empty, awaiting your selection. We invite you to explore our wide range of products and add items to your cart in order to continue with the checkout process. Feel free to browse and find the perfect items that meet your needs. Once you're ready, simply add them to your cart, and you can proceed with your purchase.</p>
                        </div>
                        
                            <%}%>
                        <%}%>
                </div>

                
            </div>

            <div class="blog_right_sidebar project my-3" id="paymentOptionsPlaceholder">
                <h5>PAYMENT OPTIONS</h5>
            
            </div>

            <!-- -------------------------------------payment methods--------------------------------- -->
            <div class="blog_right_sidebar project my-3" id="paymentOptions">
                
                <label for="upi" class=" contain containOption d-block my-3  Radio">
                    <div class="d-flex">
                        <div class="flex-grow-0 d-flex  align-items-center p-2" > <input type="radio" name="paymentMethod" class=" checkoutActions paymentMethod" id="upi" onclick="changeLabelColor(this)" data="walletOrder"></div>
                    
                        <div class="d-flex align-items-center"><i class="mdi mdi-wallet Icon-lg"></i></div>
                        <div class=" p-3 flex-grow-1" id="">
                            <h6>WALLET</h6>
                        </div>
                    </div>
                    <div class="placeOrderBtn" id="walletOrder">
                        <div class="m-2 d-flex justify-content-end ">
                            <a href="#" class="darkBtn confirmOrder checkoutActions" id="WALLET"> Confirm Order</a>
                        </div>
                    </div>
                </label>

                <label for="card" class=" contain containOption d-block  my-3  Radio">
                    <div class="d-flex">

                        <div class="flex-grow-0 d-flex  align-items-center p-2" > <input type="radio" name="paymentMethod" class=" checkoutActions paymentMethod" id="card" onclick="changeLabelColor(this)" data="cardOrder"></div>
                        <div class="d-flex align-items-center"><i class="mdi mdi-credit-card Icon-lg"></i></div>
                        <div class=" p-3 flex-grow-1" id="">
                            <h6>CREDIT/DEBIT/ATM CARD</h6>
                        </div>
                    </div>
                    <div class="placeOrderBtn" id="cardOrder">
                        <div class="m-2 d-flex justify-content-end ">
                            <a href="#" class="darkBtn confirmOrder checkoutActions" id="CARD"> Confirm Order</a>
                        </div>
                    </div>
                </label>

                <label for="bank" class=" contain containOption d-block my-3  Radio">
                    <div class="d-flex">
                        <div class="flex-grow-0 d-flex  align-items-center p-2" > <input type="radio" name="paymentMethod" class=" checkoutActions paymentMethod" id="bank" onclick="changeLabelColor(this)" data="onlinePayOrder"></div>
                        <div class="d-flex align-items-center"><i class="mdi mdi-cellphone-android Icon-lg"></i></div>
                        <div class=" p-3 flex-grow-1" id="">
                            <h6>ONLINE PAYMENT</h6>
                        </div>
                    </div>
                    <div class="placeOrderBtn" id="onlinePayOrder">
                    <div class="m-2 d-flex justify-content-end ">
                        <a href="#" class="darkBtn confirmOrder checkoutActions" id="ONLINE-PAYMENT"> Confirm Order</a>
                    </div>
                    </div>
                </label>
                            


                <label for="cod" class=" contain containOption d-block my-3  Radio">
                    <div class="d-flex">
                        <div class="flex-grow-0 d-flex  align-items-center p-2" > <input type="radio" name="paymentMethod" class=" checkoutActions paymentMethod" id="cod" onclick="changeLabelColor(this)" data="codOrder"></div>
                        <div class="d-flex align-items-center"><i class="mdi mdi-cash-usd Icon-lg"></i></div>
                        <div class=" p-3 flex-grow-1" id="">
                            <h6>CASH ON DELIVERY</h6>
                        </div>
                    </div>
                    <div class="placeOrderBtn" id="codOrder">
                    <div class="m-2 d-flex justify-content-end ">
                        <a href="#" class="darkBtn confirmOrder checkoutActions" id="COD"> Confirm Order</a>
                    </div>
                    </div>
                </label>

            </div>
            <!-- -------------------------------------payment methods end--------------------------------- -->
            

            </div>



            <div class="col-lg-4 ">
                <div class="blog_right_sidebar project setPdding cartSummery">
                <div class="d-flex justify-content-center cartSummeryHead">
                    <h3>PRICE  DETAILS</h3>
                </div>

                <div class="cartSummeryBody">
                    <div class="">
                        <span class="totalAmd"> Total :</span>
                        <span class="text-dark " id="checkoutTotal"></span>
                    </div>
                    <div class="">
                        <span>Discount :</span>
                        <span class="text-dark" id="discount"></span>
                    </div>
                    <div class="mb-4">
                        <span>Delivery Charge :</span>
                        <span class="text-dark" id="deliveryCharge"></span>
                    </div>
                    <div class="borderTop font-weight-bold pt-2 mb-5">
                        <span> Grand Total :</span>
                        <span class="text-dark" id="grandTotal"></span>
                    </div>
                    
                </div>

                <div class="d-flex" >
                    <input type="text" class="squareFeald" placeholder="Apply coupone" id="couponeCode">
                    <button class="sideBtn checkoutActions applyCoupone" id=""><i class="mdi mdi-arrow-right icon-lg checkoutActions applyCoupone"></i></button>
                </div>
                
            </div>

        </div>





        </div>
    </div>
</section>

<!----------------------------------------------------------- response message  modal ---------------------------------------------- -->

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p id="modal-message"> message goes here.</p>
    </div>
</div>

<!------------------------ confirm model-------------------- -->
<div id="confirmationModal" class="rmmodal">
    <div class="rmmodal-content">
        
        <i class="mdi mdi-close rmclose" id="closeModalBtn"></i>
        <div class="confirmHeader">
            <h3>Remove item</h3>
        </div>
        <div class="confirmBody">
            <p>Are you sure you want to remove this item?</p>
        </div>
        
        <div>
            <a id="confirmBtn" class="darkBtn">Confirm</a>
            
        </div>
        
    </div>
</div>



<%- include("../partials/userFooter.ejs") %>